.title {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: 35px;
}

h2 {
    text-align: center;
}

.stock-item {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #ffff;
    /* border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.stock-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    font-weight: bold;
}

.stock-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.stock-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
}

.stock-item__price:hover {
    color: black;
    background-color: beige;
    font-weight: bold;
}
.stock-item__delete {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: red;
    border: 1px solid white;
    padding: 0.6rem;
    border-radius: 12px;
    cursor: pointer;
}
.stock-item__delete:hover {
    color: black;
    background-color: orangered;
    font-weight: bold;
}

@media (min-width: 580px) {
    .stock-item__description {
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .stock-item__description h2 {
        font-size: 1.45rem;
    }
    .stock-item__price {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}