/* !! sir css code is here */
.new-stock__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    }
    .new-stock__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    }
    .new-stock__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    }
    .new-stock__actions {
    text-align: right;
    }


/* ved css code form stack form */


/* .main {
    margin: 0;
    padding: 10px;
    margin-top: 50px;
    background-color: #467097;
    border: 1px solid black;
    margin-left: 265px;
    margin-right: 265px;
    border-radius: 20px;
}
.heading {
    color: white;
    background: #000;
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px;
    margin-top: 15px;
}
.main .titletxt {
    font-size: 25px;
    height: 50px;
    border: 1px solid greenyellow;
    border-radius: 20px; 
    margin-left: 20px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;

}

.main .datetxt {
    font-size: 25px;
    height: 50px;
    border: 1px solid greenyellow;
    border-radius: 20px; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;

}

.main .pricetxt {
    font-size: 25px;
    height: 50px;
    border: 1px solid greenyellow;
    border-radius: 20px; 
    margin-left: 20px;
    margin-right: 50px;
    padding-left:  10px;
    padding-right: 10px;
   margin-bottom: 30px;
   text-align: center;

}
.click {
    height: 50px;
    border: 1px solid greenyellow;
    border-radius: 20px; 
    background-color: aquamarine;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    margin-left: -230px;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;

   
}
.click:hover {
    color: black;
    background-color: lightgreen;
} */






